* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.translated-rtl body {
    direction: rtl;
}

.translated-rtl .main-nav__header-one__top {
    position: relative;
    display: block;
    background: #267cd1;
    padding: 2px 0;
    display: flex;
    justify-content: center;
}

.translated-rtl .main-nav__header-one__top-social a {
    margin-left: 40px;
}

.translated-rtl .up-header .main-nav__main-navigation .main-nav__navigation-box>li::after {
    content: "|";
    color: #fff;
    margin-left: 15px;
    margin-right: 15px;
}

.translated-rtl .main-nav__main-navigation {
    position: relative;
    /* display: block; */
    margin-right: 3rem;
}

.translated-rtl .main-nav__left-one {
    padding-right: 163px;
}

.translated-rtl .up-header .main-nav__left-one {
    padding-right: 0px;
}

.translated-rtl .up-header .main-nav__main-navigation {
    margin-right: 0rem
}

.translated-rtl .up-header .main-nav__main-navigation .main-nav__navigation-box>li:last-child:after {
    content: "";
}

.translated-rtl .up-header .main-nav__main-navigation .main-nav__navigation-box>li {
    margin-left: 0px;
}

.translated-rtl .main-nav__main-navigation .main-nav__navigation-box>li {
    margin-left: 59px;
}

.translated-rtl .main-nav__main-navigation .main-nav__navigation-box>li ul>li>a {
    text-align: start;
}

.welcome-two__counter {
    left: -82px;
}

.welcome-two__right {
    text-align: right;
}

.welcome-one__list li span {
    margin-left: 14px;
}

.welcome-one__right {
    flex-direction: row-reverse;
}

.welcome-one__right {
    margin-right: 50px;
    text-align: right;
}

.events-and-newsletter__btn {
    float: left;
}

.upcoming-events__content {
    margin-right: 50px;
}

.we-need-help__faqs {
    text-align: right;

}

.faq-one-accrodion .accrodion-title h4::before {
    right: -29px;
}


[class^="icon-"],
[class*=" icon-"] {

    margin-left: 5px;
}


.we-need-help__faqs {
    text-align: right;

}

/* evnt Page */
.event-page__single {
    text-align: right;
}

.event-page__content a {
    color: var(--base-primary);

}

.event-page__title {
    font-size: 26px;
}

.event-page__meta-box {
    padding-top: 4px;
}

.event-page__content {
    height: 300px;
}

/* event details  */


.event-details-top__contant {
    margin-right: 70px;
    text-align: right;
}

.event-details-top__title {
    font-size: 35px;
    line-height: 35px;
    font-weight: 500;
}

.news-one__content {
    text-align: center;
}

.event-details-top__text-one {

    padding-right: 25px;
    padding-left: 25px;
    line-height: 29px;
    font-size: 19px;
}

.event-details-top__text-one {

    padding-right: 13px;
    padding-left: 25px;
    line-height: 29px;
    font-size: 19px;
}

.event-details-top__text-two {
    margin-top: -22px;
    padding-right: 13px;
    padding-left: 25px;
    line-height: 29px;
    font-size: 19px;
}

.course-deatails {
    margin-top: 0px;
    padding-top: 125px;
}

.we-need-help__img img {
    width: 65%;
}

.translated-rtl .main-nav__header-one__top {
    position: relative;
    display: block;
    background: #2b2b2b;
    padding: 2px 0;
    display: flex;
    justify-content: center;
}

.translated-rtl .main-nav__header-one__top-social a {
    margin-left: 40px;
}

.translated-rtl .up-header .main-nav__main-navigation .main-nav__navigation-box>li::after {
    content: "|";
    color: #fff;
    margin-left: 15px;
    margin-right: 15px;
}

.translated-rtl .main-nav__main-navigation {
    position: relative;
    /* display: block; */
    margin-right: 3rem;
}

.translated-rtl .main-nav__left-one {
    padding-right: 163px;
}

.translated-rtl .up-header .main-nav__left-one {
    padding-right: 0px;
}

.translated-rtl .up-header .main-nav__main-navigation {
    margin-right: 0rem
}

.translated-rtl .up-header .main-nav__main-navigation .main-nav__navigation-box>li:last-child:after {
    content: "";
}

.translated-rtl .up-header .main-nav__main-navigation .main-nav__navigation-box>li {
    margin-left: 0px;
}

.translated-rtl .main-nav__main-navigation .main-nav__navigation-box>li {
    margin-left: 59px;
}

.translated-rtl .main-nav__main-navigation .main-nav__navigation-box>li ul>li>a {
    text-align: start;
}

.translated-rtl .popular-causes__title h3 {
    text-align: start;
}

.translated-rtl .popular-causes__category {
    position: absolute;
    left: 20px;
    bottom: 0;
    background: var(--thm-base);
    padding: 1px 20px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    right: auto;
}

.translated-rtl .popular-causes__title p {
    text-align: start;
}